.footer
  position: fixed
  width: 100%
  height: 30%
  background-color: $gray-black
  color: $white
  padding: 1% 10%
  bottom: 0
  left: 0
  margin-top: -250px
  clear: both

.footer-main-box
  margin: 0 auto


span.contact-address-row
  display: block


.contact-address-row::before
  display: inline-block
  width: 20px
  height: 20px
  content: " "
  vertical-align: middle
  margin-right: 9px


.footer-email::before
  @extend %footer-icons-position
  content: url("../img/icons/at-solid.svg")


.footer-phonenumber::before
  @extend %footer-icons-position
  content: url("../img/icons/telephone.svg")

.footer-address::before
  @extend %footer-icons-position
  content: url("../img/icons/map-signs-solid.svg")


.about-details-box, .contact-details-box
  margin: 0 auto
  padding: 5%

.about-details-box
  float: left

.contact-details-box
  float: right


.about-title
  margin-bottom: 3%

.about-text
  padding: 2%

.about-social
  padding: 3%


.about-social-icons
  display: inline-block
  height: 30px
  width: 30px
