@import "reset"
@import "colors"
@import "header"
@import "footer"



.footer
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  background-color: $third-color
  color: white
  height: 150px


