@import "reset"
@import "colors"
@import "header"
@import "footer"
@import "car-details-page"




.container
  position: absolute
  width: 100%
  min-height: 100%
  top: 350px
  transform: translate(0%, 50%)

//.main
//  overflow: auto
//  padding: 100px
//  height: 2000px
//  background-color: red
//
////.model-box

.model-preview-index-large-first
  position: relative
  width: 233px
  height: 257px
  /*height: 100%;*/
  float: left
  color: white
  text-align: center
  background-image: linear-gradient(to right bottom, rgb(119, 160, 158),rgb(119, 160, 158))
  clip-path: polygon(0 0, 100% 0, 100% 24vh, 0 100%)
  left: 1px


//
//.demo-2-first
//  width: 233px
//  height: 177px
//  position: absolute
//  z-index: -1
//  bottom: 50%
//  top: 225px
//  left: 1px
//
//
//.demo-2-first img
//  width: 233px
//  height: 177px
//
//
//
//.demo-2-middle img
//  position: relative
//  width: 234px
//  height: 178px
//  left: -234px
//  bottom: -183px
//  z-index: -1
//
//.model-preview-index-small
//  width: 233px
//  height: 189px
//  /*height: 240px;*/
//  float: left
//  text-align: center
//  color: #ffffff
//
//  /* center model-preview-index-small */
//  -ms-transform: translateY(-50%)
//  transform: translateY(9%)
//  background-image: linear-gradient(to right bottom, rgb(121, 178, 172),rgb(121, 178, 172))
//  clip-path: polygon(0 0, 100% 0, 100% 17vh, 0 100%)
//  top: 7px
//  position: relative
//
//
//.model-preview-index-large-last
//  position: relative
//  width: 233px
//  height: 257px
//  /*height: 100%;*/
//  float: left
//  color: white
//  text-align: center
//  background-image: linear-gradient(to right bottom, rgb(50, 172, 149),rgb(50, 172, 149))
//  clip-path: polygon(0 0, 100% 0, 100% 24vh, 0 100%)
//  top: -181px
//  left: -1px
//
//
//.demo-2-last
//  width: 233px
//  height: 177px
//  position: absolute
//  z-index: -1
//  bottom: 50%
//  top: 225px
//
//
//.demo-2-last img
//  position: relative
//  width: 233px
//  height: 177px
//  left: 466px
//  z-index: -1
//
//.title
//  display: inline-block
//  z-index: 10
//
//.description
//  margin-bottom: 10px
//  z-index: 10
//
//.type
//  margin-bottom: 10px
//  z-index: 10
//
//
//.price
//  margin-bottom: 15px
//  z-index: 10
//
//
//
///*style button*/
//.btn
//  width: 214px
//  height: 39px
//  display: inline-block
//  margin-top: 10px
//  margin-bottom: 10px
//
//
//
//.btn-white
//  background-color: #ffffff
//  color: #000
//  border-color: #ffffff
//  font-size: 14px
//  z-index: 10
//
