@import "reset"
@import "colors"
@import "header"
@import "footer"
@import "car-details-page"




.container
  position: absolute
  width: 100%
  min-height: 100%
  top: 350px
  transform: translate(0%, 50%)

.main
  overflow: auto
  padding: 100px
  height: 2000px
  background-color: greenyellow

.model-box